*,*::before,*::after{
    margin : 0rem;
    padding : 0rem;
    box-sizing : border-box;
}


.noteCount{
    display : flex;
    justify-content: space-between;
    padding : 1rem 0rem;
    margin : 0rem 1rem;
}

.noteCount p{
    display : inline-block;
    margin-right : 1rem;
}

.noteCount a{
    display : inline-block;
    text-decoration : none;
    color : hsl(219, 12%, 42%);
    margin-right : 2rem;
}

.noteCount a:hover{
    color : hsl(251, 90%, 27%);
}

.noteCount > div{
    margin-left : 2rem;
}

.noteCount span{
    background-color: hsl(251, 90%, 27%);
    padding : .25rem .75rem;
    border-radius : 5px;
    color : white;
}

.makeBlue{
    color :  hsl(251, 90%, 27%);
}

.makeGrey{
    color : hsl(219, 12%, 42%);
}

/* WRITING MEDIA QUERIES FOR MOBILE PHONES */

@media (max-width : 400px){
    .noteCount{
        display: flex;
        flex-direction: column;
    }
    .notificationsCount{
        width : 80%;
        padding : .35rem;
    }
    .noteCount a{
        margin : .45rem auto 0 auto;
    }
}