*,*::before,*::after{
    margin : 0rem;
    padding : 0rem;
    box-sizing : border-box;
}

.Recentnots{
    margin : 1rem;
    padding : .5rem;
    display : flex;
}

.Recentnots:hover{
    cursor : pointer;
}

.Recentnots p{
    text-align : left;
}